<h2>Contacto</h2>

<div class="container">

    <form>
        <div class="form-group">
            <div class="form-row">

                <div class="col">
                    <input type="text" name="nombre" class="form-control" id="Nombre" class="form-control"
                        placeholder="Nombre" />
                    <div class="invalid-feedback">
                        Agregá un nombre.
                    </div>
                </div>

                <div class="col">
                    <input type="mail" name="mail" id="Email" class="form-control" placeholder="Email" />
                    <div class="invalid-feedback">
                        Agregá un e-mail válido.
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">

            <textarea class="form-control" name="msg" id="exampleFormControlTextarea1" rows="5"
                placeholder="Comentarios"></textarea>
            <div class="invalid-feedback">
                Agregá un comentario.
            </div>

        </div>


        <div class="form-row">
            <div class="col">
                <button type="button" class="btn btn-outline-primary btn-block" disabled id="Enviar">Enviar info</button>
            </div>

        </div>
    </form>

</div>
